<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Realm对象-->
    <bean id="loginRealm" class="com.bjpowernode.util.shiro.AuthRealm">
        <!--是否启用权限校验的缓存-->
        <property name="authenticationCachingEnabled" value="true"/>

        <!--指定缓存管理器-->
        <property name="cacheManager" ref="ehCacheManager"/>

        <!--密码加密比较器-->
        <property name="credentialsMatcher" ref="passwordMatcher"/>
    </bean>

    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="loginRealm"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--安全管理过滤器-->
    <bean id="filterFactoryBean" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--引用安全管理器-->
        <property name="securityManager" ref="securityManager"/>

        <!--登录页面地址-->
        <property name="loginUrl" value="/login"/>

        <!--登录成功后跳转地址-->
        <!--<property name="successUrl" value="/index"/>-->

        <!--未授权错误页面-->
        <property name="unauthorizedUrl" value="/no_auth"/>

        <!--用户权限配置-->
        <property name="filterChainDefinitionMap" ref="filterChainDefinitionMap"/>
    </bean>

    <bean id="filterChainDefinitionMapBuilder" class="com.bjpowernode.util.shiro.FilterChainDefinitionMapBuilder"/>

    <bean id="filterChainDefinitionMap" factory-bean="filterChainDefinitionMapBuilder"
          factory-method="buildFilterChainDefinitionMap"/>

    <!--启用Shiro的Thymeleaf支持-->
    <bean class="at.pollux.thymeleaf.shiro.dialect.ShiroDialect"/>

    <!--Shiro的缓存管理器-->
    <bean id="ehCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"/>

    <!--密码加密服务-->
    <bean id="passwordService" class="org.apache.shiro.authc.credential.DefaultPasswordService"/>

    <!--密码加密比较器-->
    <bean id="passwordMatcher" class="org.apache.shiro.authc.credential.PasswordMatcher"/>

    <!--rememberMe 管理器-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!--用来记住密码的Cookie-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/>
    </bean>

    <!--会话管理器-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionIdUrlRewritingEnabled" value="false"/>
    </bean>
</beans>
