<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.fallenangel.mapper.FlowerMapper">
    <select id="list" resultType="map">
        SELECT f_id, f_name, f_price, c_name
        FROM tb_flower
        JOIN tb_classify tc ON tb_flower.c_id = tc.c_id
        <where>
            <if test="c_id != -1">
                tb_flower.c_id = #{c_id}
            </if>
            <if test="f_name != null and f_name != ''">
                AND f_name = #{f_name}
            </if>
        </where>
        ORDER BY f_id
        LIMIT #{pageStart}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tb_flower
        <where>
            <if test="c_id != -1">
                tb_flower.c_id = #{c_id}
            </if>
            <if test="f_name != null and f_name != ''">
                AND f_name = #{f_name}
            </if>
        </where>
    </select>

    <select id="query" resultType="map">
        SELECT f_id, f_name, f_price, tb_flower.c_id, c_name
        FROM tb_flower
                 JOIN tb_classify tc ON tb_flower.c_id = tc.c_id
        WHERE f_id = #{f_id}
    </select>

    <select id="classifies" resultType="classify">
        SELECT *
        FROM tb_classify
    </select>

    <insert id="insert" keyProperty="f_id" useGeneratedKeys="true">
        INSERT INTO tb_flower(f_name, f_price, c_id)
        VALUES (#{f_name}, #{f_price}, #{c_id})
    </insert>

    <delete id="delete">
        DELETE FROM tb_flower WHERE f_id IN
        <foreach collection="array" open="(" close=")" item="f_id" separator=",">
            #{f_id}
        </foreach>
    </delete>

    <update id="resetF_id">
        ALTER TABLE ${_parameter}
            AUTO_INCREMENT = 1;
    </update>

    <update id="modify">
        UPDATE tb_flower
        SET f_name=#{f_name},
            f_price=#{f_price},
            c_id=#{c_id}
        WHERE f_id = #{f_id}
    </update>
</mapper>