<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>动力金融网-专业的互联网金融公司</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/security.css}"/>

        <style type="text/css">
            h2 {
                font-size: 22px;
            }
        </style>

        <script type="text/javascript">
            onload = function () {
                let closeBtn = document.querySelector("#close-btn")

                closeBtn.onclick = function () {
                    window.close()
                }
            }
        </script>
    </head>

    <body>
        <div class="unrecognized" style="display:block">
            <h2 th:if="${success}">退款成功，您可关闭当前页面...</h2>
            <h2 th:if="${!success}">退款失败，请关闭当前页面后重试...</h2>
            <a class="input_btn" id="close-btn" href="javascript:void(0)">关 闭</a>
        </div>
    </body>
</html>
