tbody td, th {
    border-color: blueviolet;
    border-width: 3px;
    border-collapse: collapse;
    border-style: solid;
    width: 100px;
    height: 30px;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

caption h2 {
    font-weight: normal;
}